/**
 * Site header
 */

.site-header {
  /*background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);*/
  background: rgb(14, 13, 13);
  //background: linear-gradient(90deg, rgba(255,167,0,1) 0%, rgba(193,126,0,1) 21%, rgba(124,80,0,1) 68%, rgba(120,78,0,1) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(68,85,102,1) 24%, rgba(44,101,163,1) 65%, rgba(0,120,252,1) 100%);
  opacity: 0.8;
  min-height: $spacing-unit * 1.865;
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-family: 'Open Sans';
  font-weight: 500;
  color: #ffffff; // $crimson-color;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: #ffffff;
  }

  &:hover {
    color: $crimson-color-light;
    text-decoration: none;
    cursor: pointer;
  }
}

.site-nav {
  float: right;
  text-align: right;
  line-height: $base-line-height * $base-font-size * 2.25;
  padding-right: 10px;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #ffffff; // $text-color;
    line-height: $base-line-height;
    font-family: 'Open Sans';
    font-weight: 400;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      color: $crimson-color-light;
      text-decoration: none;
      cursor: pointer;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font-size: $small-font-size;
  color: $grey-color;
  clear: both;
  margin-bottom: 30px;

  a {
    color: $grey-color;
  }
  p {
    margin: 5px auto;
    width: auto;
    display: flex;
    justify-content: center;
  }
  img {
    width: 26px;
    height: 26px;
    margin: 0 4px;
    display: block;
    float: left;
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.5);
  font-weight: 600;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit * 2;
  }
}

.post-meta {
  font-family: 'Open Sans';
  font-size: $small-font-size;
  color: $grey-color;

  a.post-tag {
    border-radius: 5px;
    border: 1px solid $grey-color;
    color: $grey-color;
    padding: 1px 5px;
    margin-left: 5px;
    &:hover {
      border: 1px solid $brand-color;
      text-decoration: none;
      color: #ffffff;
      background: $brand-color;
    }
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
  font-weight: 700;
  color: #000000;

  &:hover {
    color: $crimson-color-light;
    text-decoration: none;
    cursor: pointer;
  }
}

/**
 * FAQ
 */

.other-pages {
    margin-top: $spacing-unit * 0.5;
    h1 {
      font-family: 'Open Sans';
    }
}

div.qa {
    margin: 10px;
    padding: 10px;
    .question {
        border-radius: 5px;
        background: #eeeeee;
        padding: 5px;
        padding-left: 20px;
    }
 }

/**
 * Posts
 */
.post-header {
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.2);
  letter-spacing: -1px;
  line-height: 1.2;

  @include media-query($on-laptop) {
    @include relative-font-size(2.2);
  }

  font-weight: $base-font-weight * 1.5;
  width: $content-width * 0.85;
  max-width: 100%;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.95);
    margin-top: $spacing-unit * 1.55;
    font-weight: 700;
    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.5);
    margin-top: $spacing-unit * 1.1;
    line-height: 1.25;
    font-weight: 600;
    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.1);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
    font-weight: $base-font-weight * 2.0;
    color: $grey-color;
  }

  a {
    border-bottom: 1px dotted #bbb;
    padding-bottom: 1px;

    &:hover {
      color: $crimson-color-light;
      border-bottom: 1px solid $crimson-color-light;
      padding-bottom: 1px;
      text-decoration: none;
    }
  }

}

.image-caption {
    text-align: center;
    width: 85%;
    margin: 10px auto 35px;
    line-height: 1.35;
    color: $grey-color;
    font-style: italic;
}

/* header */

.header {
  background: rgb(14, 13, 13);
  //background: linear-gradient(90deg, rgba(255,167,0,1) 0%, rgba(193,126,0,1) 21%, rgba(124,80,0,1) 68%, rgba(120,78,0,1) 100%);
  //background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(68,85,102,1) 24%, rgba(44,101,163,1) 65%, rgba(0,120,252,1) 100%);
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  opacity: 0.8;
  position: relative;
  width: 100%;
  //z-index: 3;
  min-height: $spacing-unit * 1.865;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  //background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  //border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color:  #ffffff;
  font-family: 'Open Sans';
  font-weight: 400;
}

.header li a:hover,
.header .menu-btn:hover {
  color: $crimson-color-light;
}
/*
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
*/

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffffff;
  //color: #ffffff; 
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */


.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 15px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
